@import "reset.css";

:root {
  --shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

body {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px 0px;
}

.canvas {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: var(--shadow);
  height: 400px;
  width: 400px;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.controls .controls__range {
  margin-bottom: 10px;
}

.controls .controls__buttons {
  margin-bottom: 15px;
}

.controls__buttons button {
  all: unset;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: var(--shadow);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  padding: 5px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
}

.controls__buttons button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .colors__color {
  border-radius: 25px;
  box-shadow: var(--shadow);
  cursor: pointer;
  height: 45px;
  width: 45px;
}
